<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Movies</title>
    <link rel="stylesheet" href="/css/home.css">
    <script src="https://kit.fontawesome.com/9b676fb155.js" crossorigin="anonymous"></script>
    
</head>
<body>
 
   <h1>   <i class="fa-solid fa-video"></i>   Movie Details</h1>

   <div>
    <form action="movie-details" method="post">
        <label for id="Name">Name of Movie</label>
        <input type="text" name="name" id="Name" required placeholder="Movie Name">

        <label for id="movieType">Type of Movie</label>
        <input type="text" name="movieType" id="movieType" required placeholder="ex. Comedy/Thriller/Horror">

        <label for id="dateOfRelease">Date of Release</label>
        <input type="date" name="dateOfRelease" id="dateOfRelease" required >

        <label for id="favCharacter">Favourite character in movie</label>
        <input type="text" name="favCharacter" id="favCharacter" required placeholder="your fav character">

        <label for id="rating">How would you rate this movie out of 5??</label>
        <input type="number" name="rating" id="rating" required placeholder="rating out of 5" min="0" max="5">

        <button type="submit" id="submitButton">Add Movie</button>
        
       </form>
       <div id="list">
        <a href="movie-list">
            List of All Movies
        </a>
       </div>
   </div>

   <script type="text/javascript" src="/JS/home.js"></script>
   </body>
</html>